.asidewoman{position:fixed; top:23%; right:20px; width:30px; height:auto; display:grid;gap:10px;
   border:3px solid red;background-color:none;} 
  body{background-color:rgb(104, 109, 23);}
.button{border:3px solid yellow; color:rgb(105, 17, 17); color:yellow;
   padding:5px; font-size:12px; font-style:italic;background-color:red;}
   button{
   box-shadow:inset 1px 1px 1px black,
   inset -1px -1px -1px black;}
   .buttontwo{border:3px solid yellow; color:rgb(105, 17, 17); color:yellow;
    padding:5px; font-size:12px; font-style:italic;background-color:red;}
.dropdown-content a{padding:10px; color:red; border:3px solid gray; background-color:yellow; }

.dropdown {
        position: relative;
        display: inline-block;
      }
  
.dropdown-content {
        display: none;
        position: absolute;
        background-color:white;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
 
.dropdown:hover .dropdown-content {
        display: grid;
      }

.img{width:100%; height:auto; z-index:-3;position:absolute; top:0; left:0; right:0;}
.imgaside{width:20px ; height:20px; padding:5px;}
.imgbutton{border:2px solid brown;
   width:60%;margin:auto;border:5px solid brown;}
.header{display:flex;flex-direction:column;gap:20px;}
.hfirst{text-align:center; margin:auto; transform:skewY(5deg);margin-top:50px; 
  text-shadow:1px 3px 1px yellow;}    
 h1{text-align:center;COLOR:red;float:left;
         text-shadow:2px 2px 4px white;  margin-top:50px; left:25%;z-index:1000;}
.ptop{color:yellow; font-style:italic; font-weight: bold; text-shadow:1px 1px 2px black;font-size:20px;}

.hsecond{text-align:center;font-style:italic ;
  text-shadow:3px 3px 8px white,
  -3px -3px 8px white;}
.spanduo{color:red;font-style: oblique;}
.second{border:2px solid black;
  box-shadow:
  inset 2px 2px 0px 0px gray,
  inset -2px -2px 0px 0px gray; width:40%;margin:auto;}
.second a{color:red; font-size:18px;} 
.senter{font-size:20px; color:red; font-style: italic;
  text-shadow:1px 1px 2px black;text-align:center ;}
  .underdiv{display:flex; width:50%; margin:auto;gap:10%;}
.underaside{position:absolute; z-index:-1;top:15%;left:20%; border-radius:50%; border:5px solid black;
             
           width:20%;;height:auto;opacity:0.5;animation-name:rotate;animation-duration:5s;}  
           
.underaside2{position:absolute; z-index:-1; border-radius:50%; border:5px solid black;
             width:20%;height:auto; top:5%;right:10%;opacity:0.5; animation-name:rotate;animation-duration:5s;}
  @keyframes rotate{ 10%{transform: rotate(90deg);opacity:0.7;border-radius: 25px 15px 25px 15px;}30%{transform:rotate(180deg);opacity:0.9;border-radius: 55px 10px 35px 5px;}50%{transform: rotate(270deg);opacity:0.7;border-radius: 5px 45px 25px 5px;}
  70%{transform: rotate(320deg);
    opacity:0.5;border-radius: 65px 25px 25px 15px;}
    100%{transform: rotate(360deg);opacity:0.3;border-radius: 15px 35px 10px 45px;}}             
          
 .choose{display:grid;overflow: hidden;flex-wrap: nowrap;}
 .first{border:3px solid red;
  box-shadow:
  inset 2px 2px 0px 0px gray,
  inset -2px -2px 0px 0px gray; width:60%;margin:auto;}
  .first a{color:red; font-size:15px; font-weight: bold;font-style:italic; animation-name:color; animation-duration:20s; text-shadow:1px 1px 2px yellow;}
@keyframes color{25%{color:blue;font-style:italic ;text-shadow:1px 1px 2px black; }50%{color:goldenrod;font-style:inherit;text-shadow:2px 2px 1px yellow;}
75%{color:#0088cc;font-style:initial;text-shadow:1px 1px 2px red;}
100%{color:brown;font-style:italic;text-shadow:1px 1px 2px yellow;}}
   #telegram-widget {margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0088cc; /* Change the background color as needed */
    padding: 10px;
    border-radius: 5px;
  }
  
  #telegram-widget a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  #telegram-widget img {
    width: 40px; /* Adjust the size of the Telegram logo */
    margin-right: 10px;
  }
  
  #telegram-widget span {
    font-size: 16px; /* Adjust the font size as needed */
  }
  .telega{background-color:rgb(85, 85, 238);color:white;border:2px solid rgb(85, 85, 238); border-radius:2px 2px 2px  2px;}
  .kro{display:none;}
  .bro{display:none;}
  .spantwo{ color:red; font-style:italic;font-size:18px;}

  .container {
    margin-bottom: 30px;
    display: flex;
    border: 5px solid yellow;
    border-radius: 5px 55px 5px 55px;
    overflow: hidden;
    gap: 20px;
}
.footer {
    margin: 20px;
    gap: 15px;
}
.footer address {
    display: grid;
    gap: 10px;
}
.footer img {
    width: 20px;
    height: 20px;
}
.footer p {
    margin: 0;
}
.bod {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    overflow: hidden;
    flex-wrap: wrap;
    
}
.dno {align-items: center;
    text-decoration:underline;
    color:yellow;
    margin:auto;
   
}
.dno:hover {
    text-decoration: underline;
}
.image-container img {
    width: 100%;
    height: 200px;
    border: 1px solid yellow;
    border-radius: 50%;
    margin-top: 40px;
}
a.youtube{color:red;font-size:23px; font-style:italic; text-decoration:dashed;background-color:white;
  text-shadow: 1px 1px 2px gold;}
.youTube{display:flex; flex-wrap:nowrap;overflow: hidden;
  background-image: url('https://media.istockphoto.com/id/1500285927/photo/young-woman-a-university-student-studying-online.webp?b=1&s=170667a&w=0&k=20&c=w6oDn8-ru4jZhnnEt8AI6KdlgCJIgaaEZ4IMV50DnsQ=');
  background-size: contain;background-repeat: repeat;border-top:3px dashed black;border-bottom:3px dashed black;}
  @keyframes translate{10%{transform:translateX(10%);}100%{transform:translateX(100%);}}
.afteryoutube{border-top:3px dashed black;border-bottom:3px dashed black;height:23px ;width:36px;}
.youTube2{animation-name:translate;animation-duration:20s;}
#carousel-container {margin-top:30px;
  width: 300px;height:300px;
  overflow: hidden;
  position: relative;
  margin: auto;
border:3px solid yellow;
}

#image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: auto;
}

#prevBtn, #nextBtn {
   position: absolute;
  top: 90%;
  transform: translateY(-50%);
  cursor: pointer;
border:3px solid yellow;
font-size:15px;
}

#prevBtn {
  left: 5px;
}

#nextBtn {
  right: 5px;
}
.facechoose{display:flex; overflow: hidden;flex-wrap:wrap;margin:auto;}
#products{display:grid;gap:20px; margin:auto;}

.spanduo{color:rgb(197, 194, 32); font-style:italic;font-size:18px;font-family: Georgia,
  serif; animation-name:color; animation-duration:20s; animation-delay: 4s;}
  .spanduo{font-style: oblique;}
  @keyframes color{20%{color:white;} 40%{color:red;}
  60%{color:black;}100%{color:yellow;}}
  .bodi{margin:auto;display:grid;}
  .underhop{width:280px; height:180px; border:5px solid goldenrod; border-radius:20px 35px 20px 35px;}
  #hop{display:flex;gap:20px;}
  .hop{padding:1px;}
  .video-container{border:5px solid goldenrod; border-radius:20px 35px 20px 35px; }
  .picturesyoutube{width:350px;height:auto; border:5px solid goldenrod;
    box-shadow: 10px 10px 10px rgb(172, 7, 7)
    -10px -10px 10px rgb(172, 7, 7) ; margin:auto;}
  main{margin-top:35px;}
  .blockoverfooter{display: flex; flex-wrap:wrap;margin:auto;}
  .ras{margin-left:25%;margin-top:3%;border:4px solid brown;width:200px;height:200px;overflow: hidden;}
            .dwa{margin-left:3%;margin-top:-30%; border:4px solid brown;width:200px;height:200px;overflow: hidden;}
            .tri{margin-left:25%;margin-top:-40%;border:4px solid brown;width:200px;height:200px;overflow: hidden;}
            .bodi{margin-top:1px;display:grid;}

            .pp{padding:5px; border:2px solid black;width:95%}
            .up{padding:10px; border:2px solid black;margin:15px;}
            .down{padding:10px; border:2px solid black;margin:15px;}
            .left{padding:10px; border:2px solid black;margin:15px;}
            .right{padding:10px; border:2px solid black;margin:15px;}
            .prev{padding:10px; border:2px solid black;margin:15px;}
            .next{padding:10px; border:2px solid black;margin:15px;}
            .more{padding:10px; border:2px solid black;margin:15px;}
            .less{padding:10px; border:2px solid black;margin:15px;}
            .circle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
          }
          
          .circle {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            transition: stroke-dasharray 1.5s ease-out, stroke-dashoffset 1.5s ease-out;} 
           #resizeBackground{text-align:center;padding:10px; border:2px solid black;margin:15px;}
           .selected::after{content:"ordered";color:red;font-size:25px;z-index:1000;position:absolute; top:30px;}
           .textMore{display:none;}    